.background-inicio {
    background-color: rgb(163, 207, 245);
}

.imagen {
    border-radius: 5px;
}

.fondo-tarjeta {
    background-color: rgb(149, 190, 216);
    border-radius: 12px;
    color: black;

}
